<style type="text/css">
  /* from mcp-portal */
  .Settings--heading {
    padding-top: 16px;
    line-height: 24px;
    font: 200 32px/1 Gotham Rounded SSm A,Gotham Rounded SSm B,Gotham Rounded,Gotham,-apple-system,BlinkMacSystemFont,Noto,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,Helvetica,Arial,sans-serif;
  }
  p {
    color: #373a3c;
    line-height: 1.5;
  }
</style>
<div style="display:flex; height:100vh; justify-content: center; align-items: center; flex-direction: column; font-size: 16px; line-height: 24px;">
  <img style="display: block; margin: 0px auto; max-width: 100%; width: 6rem;" src="./images/noun-117716-404-error.svg" alt="" />
  <h2 class="Settings--heading">Error</h2>
  <div style="max-width: 30rem; word-break: break-word;">
    <p>{{{description}}}</p>
  </div>
</div>