<div id="block_error">
    <div class="col-xl-6 col-xl-offset-3 col-lg-8 col-lg-offset-2 col-xs-12">
        <img src="./images/noun-117716-404-error.svg" alt="conversation" style="max-width: 100%; width: 6rem;">
        <h1 class="brand">{{title}}</h1>
        <p style="font-size:1.2rem">
            {{description}}
        </p>
        <p>Please check the following url for the swagger document <a href="{{url}}">{{url}}</a> </p>
    </div>
</div>