<div style="margin-top: 0.25rem;">
    <label for="parameterContentType" style="display: none;">Content type:</label>
    <select class="parameter form-control" name="parameterContentType">
        {{#if consumes}}
            {{#each consumes}}
                <option value="{{{this}}}">Content-Type: {{{this}}}</option>
            {{/each}}
        {{else}}
            <option value="application/json">application/json</option>
        {{/if}}
    </select>
</div>
