<div class="parameter-item">
    <div class="param-property" data-label="Response Type">
        <label for="responseContentType">Response Content-Type</label>
        <select class="parameter form-control" name="responseContentType">
            {{#if produces}}
                {{#each produces}}
                    <option value="{{{this}}}">{{{this}}}</option>
                {{/each}}
            {{else}}
                <option value="application/json">application/json</option>
            {{/if}}
        </select>
        <div class="small-description">
            <div class="markdown">This sets the 'Accept' header on your request</div>
        </div>
    </div>
</div>
